#wrapper{
    display: grid;
    grid-template-areas:
    "header" "header"
    "mainArea" "secondArea"
    "footer" "footer";
    grid-template-rows: 1fr, 2fr, 1fr;
    grid-template-columns: 1fr, 1fr;
    background-color: aqua;
}
#header{
    grid-area: header;
    border: 5px solid black;
    background-image: url("../images/banner.png");
    height: 300px;
}
#pokeImg{
    grid-area: header;
    display: flex;
    position: relative;
    left: 35%;
    margin-top: 5rem;
}
.searchBar{
    grid-area: mainArea;
    display: flex;
    padding: 1rem;
    margin: .5rem;
    position: relative;
    font-size: 24px;
}
#random{
    grid-area: mainArea;
    display: flex;
    margin-left: 1.5rem;
    position: relative;
    justify-content: center;
    top: 4rem;
    width: 7%;
    height: 20px;
}


.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown a:hover {background-color: #ddd;}
  
.show {display: block;}