* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
}
#wrapper{
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "games"
    "contacts";
    grid-template-rows: 100px 500px 1fr 150px;
    background-color: azure;
    font-family: 'Times New Roman', Times, serif;
}
@media screen and (max-width:1200px){
    #header h1{
        display: none;
    }
    #about img{
        width: 200px;
        height: 200px;        
    }
    #games{
        padding-top: 20rem;
    }
    #wrapper{
        grid-template-rows: 100px 500px 1fr 250px;
    }
}
#header{
    grid-area: header;
    display: flex;  
    background-color: aqua;  
    color: black;
}
#header h1{
    padding-left: .5em;
    margin-top: 30px;
    width: 10em;
    text-align: left;
}
/* Menu */
ul.menu{
    display: flex;
    padding: 1em;
    gap: 5px;
    justify-content: right;
    width: 70%;
    margin: 0 auto;
    font-size: 20px;
}
.menu li{
    display: inline-block;
    align-self: center;
    justify-content: center;
    width: 20%;
    background-color: black;
    border-radius: 5%;
}
.menu a{
    display: block;
    padding: 15px;
    text-align: center;
}
a:link{
    text-decoration: none;
    color: white;
}
a:visited{
    text-decoration: underline;
    color: aqua;
}
a:hover{
    text-decoration: underline;
    color: aqua;
}
a:active{
    text-decoration: underline;
    color: aqua;
}
/* About */
#about{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#about img{
    margin: 2em;
    align-self: center;
    flex-wrap: row wrap;
}
#about article{
    margin: 2em;
    height: 20em;
    flex: 0 1 30em;
    flex-flow: row wrap;
    align-self: center;
    font-size: 25px;
}
#about h2{
    padding-left: .2em;
    border-bottom: 3px solid aqua;
    border-left: 3px solid aqua;
}
/* Games */
#games{
    grid-area: games;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3em;
}
#games article{
    grid-area: games;
    flex: 1 1 500px;
    max-width: 600px;
    min-height: 500px;
    flex-flow: row wrap;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 228, 196, 0.555);
    border-radius: 5%;
}
#games img{
    margin-top: .5em;
    flex-flow: row wrap;
}
#games .description{
    flex-flow: row wrap;
    margin: 1em;
}
/* Contacts */
#contacts{
    grid-area: contacts;
    font-size: 25px;
    color: white;
    background-color: rgb(0, 0, 0);
}
ul.contact{
    display: flex;
    gap: 100px;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
}
.contact li{
    display: inline-block;
}
.constacts h2{
    padding-left: 2em;
}