/* Do everything in this file */
body{
    padding: 1rem;
}
h2, h3{
    border-bottom: 1px solid red;
}
h2{
    clear: both;
}
h3{
    clear: both;
}
figure{
    float: right;
    max-width: 650px;
    margin: auto;    
}
figure img{
    width: 100%;
    height: auto;
}
.tet{
    float: left;
    border: 2px solid red;
    width: 40%;
    flex: 0 1 450px;
}
footer{
    position: fixed;
    top: 0px;
    left: 70%;
    z-index: -1;
}
header, main, footer{
    width: 90vw;
    margin: auto;
}
#tetlist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}
.tet img{
    width: 60%;
}
span{
    display: block;
    margin: 1rem;
    font-size: 20px;
    font-weight: bold;
}
.aliases{
    text-align: left;
    margin: 1rem;
}