#wrapper{
    display: grid;
    grid-template-areas: 
    "header"
    "description"
    "photo"
    "items"
    "footer";
    grid-template-rows: .5fr 5fr 10fr 10fr 2fr;
}
#introduction{
    grid-area: header;
    display: flex;
    padding: 0 1rem;
    width: 10vw;
}
#name{
    grid-area: header;
    display: flex;
    padding: 0 3rem;
    margin-top: 1rem;
    justify-content: right;
    justify-self: right;
    width: 10vw;
}
#description{
    grid-area: description;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#description article{
    border: 1px solid black;
    flex: 0 0 500px;
    flex-flow: row wrap;
    margin: 1rem;
}
#background{
    grid-area: photo;
    border: 1px solid black;
}
#items{
    grid-area: items;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#items article{
    border: 1px solid black;
    flex: 0 1 21%;
    flex-flow: row wrap;
    margin: 1rem;
    position: relative;
}
#footer{
    grid-area: footer;
    border: 1px solid black;
}
